*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
img{
   
   width: 130px;
   height: 65px;
   display: inline;
   padding: 10px;
   margin-left: 80px;

}
ul,li{
    display: flex;
    padding-left: 10px; 
   gap: 30px;
    align-items: center;
   margin-top: -20px;
   font-weight: bolder;
   justify-content: center;
    


}
ul{
    justify-content: space-between;
    margin-left: 1000px;
    margin-bottom: 50px;
}
li{
    margin-bottom: 30px;
    cursor: pointer;
}
li:hover{
    color: red;
}
.content{
    height: 700px;
    background-color: rgb(247, 99, 99);
    background: url(../image/1_4uW8LXe3EcH_JRiXVGW52A.jpg);
    background-size: cover;
    opacity: 50%;
}
.discover{
    padding: 10px;
    text-align: center;
    margin: 30px;
}
span{
    color: red;
}
h4{
    margin-top: 20px;
   
}
p{
    margin: 10px;
}
.border{
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background-color: orangered;
    border: 3px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    padding: 8px;
    margin-left: 50px;
}
.boxtable{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.box1{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
         hsl(60, 94%, 66%) 0%, hsl(60, 94%, 66%) 60%,
        rgb(229, 255, 0) 60%,
        rgb(229, 255, 0) 100%
    );
}

.box2{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        hsl(0, 92%, 86%) 0%,
        hsl(0, 92%, 86%) 60%,
        rgb(251, 73, 73) 60%,
        rgb(251, 73, 73) 100%
        
    );
}

.box3{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        rgb(239, 192, 240) 0%,
        rgb(239, 192, 240) 60%,  hsl(309, 97%, 71%) 60%, hsl(309, 97%, 71%) 100%
    );
}

.box4{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        rgb(201, 250, 223) 0%,
        rgb(201, 250, 223) 60%,
          hsl(133, 92%, 71%) 60%, 
          hsl(133, 92%, 71%) 100%
    );
}

.box5{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        rgb(254, 206, 172) 0%,
        rgb(254, 206, 172) 60%,
          hsl(43, 92%, 65%) 60%, 
          hsl(43, 92%, 65%) 100% 
    );
}

.box6{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        rgb(183, 243, 248) 0%,
        rgb(183, 243, 248) 60%,
        hsl(199, 88%, 73%) 60%, 
        hsl(199, 88%, 73%) 100%
    );
}

.box7{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        rgb(246, 249, 191) 0%,
        rgb(246, 249, 191) 60%,
          hsl(60, 89%, 75%) 60%, 
          hsl(60, 89%, 75%) 100% 
    );
}

.box8{
    width: 360px;
    height: 500px;
    background: linear-gradient(
        to top,
        rgb(253, 179, 179) 0%,
        rgb(253, 179, 179) 60%,
          
           hsl(0, 82%, 75%) 60%,
           hsl(0, 69%, 80%) 100%
    );
}
.boxtable img{
   width: 200px;
   height: 300px;
   align-self: center;
}
.ad{
    margin-top: -120px;
    width: 200px;
    height: 200px;
}

.colorbox2{
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 90px;
}
.findu{
    width: 100%;
    height: 250px;
    background-color: rgb(248, 248, 122);
    margin-top: 40px;
}
.find{
    text-align: center;
    margin-top: 30px;
    padding-top: 110px;
    
}
.onlines{
    text-align: center;
    margin-top: 40px;
    margin: 40px;
}
.shopmart{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

.shopmart2{
    display: flex;
   
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
    
}
.red{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 91, 91);
    margin-top: 40px;
}
.insta{
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}
.instap{
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}
.btn{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 580px;
    margin-top: 10px;
    font-size: 15px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.boxthree{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;

}
.boxend{
    width: 300px;
    height: 400px;
    background-color: none;
    border-radius: 10px;
    display: flex;
}
.pic{
    width: 290px;
    height: 400px;
   border-radius: 30px;
   justify-content: center;
   
   
}
.yellowwe{
    background-color: rgb(168, 249, 186);

    height: 400px;
    
}
.yellow{
    text-align: center;

}
.spany{
    margin-top: 10px;
    padding-top: 10px;
    
}
.white{
    height: 700px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;

}
.white1{
    width: 300px;
    height: 400px;
    background-color: none;
    padding: 20px;
   margin: 20px;

}

.white2{
    width: 300px;
    height: 400px;
    background-color:none ;
    padding: 20px;
    margin: 20px;

}

.white3{
    width: 300px;
    height: 400px;
    background-color:none ;
    padding: 20px;
    margin: 20px;

}
.last{
    height: 300px;
    background-color: orangered;
}
/* .lastone:hover{
    color: black;
    cursor: pointer;
    transition: 2sec;
    background-color: blue;
} */
.onetwo:hover{
    cursor: pointer;
   color: aqua;
    
    
}
.anime{
    margin-left: 50px;
    margin-top: 15%;
}
.anime{
    position: relative;
    transition: all .3s ease-in;
    animation: anime2 ;
    animation-duration: 2s;
    animation-timing-function: linear;

    
}
.range1{
    display: flex;
    flex-direction: column;
}
.range{
    margin-top: 20px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: -30%;
    color: white;

}

.range2{
    margin-top: -17%;
    justify-content:center ;
    align-items: center;
    text-align: center;
    color: white;
}
.bold{
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
}
@keyframes anime2 {
    from{
        margin-left: -100%;
    }
    to{
        
    }
}
@media screen and (max-width: 480px ){
    .boxtable{
        display: block;
    }
}
